<!DOCTYPE html>
<html lang=en>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Mubashir Ahmad">
    <meta name="description" content="SSM QR, App to Generate and Verify Identity Cards.">
    <title>SSM QR | Mubashir Ahmad</title>
    <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="../styles/home_styles.css">

  </head>

  <body>
    <div class="wrapper">

      <div class="main-intro">
        <h2><br>SSM QR,<br>An App to Generate and Verify Identity Cards</h2>
      </div>

     
      <div class="projects">

        <div class="project git">
          <a href="/admin" title="Admin Dashboard to generate and identity cards">
            <!-- <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg> -->
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M20.997 18.529c-.372.223-1.044.565-1.997.904v-5.038c-3.979.327-6.323 1.521-7 1.954-.677-.433-3.022-1.627-7-1.954v5.037c-.954-.339-1.625-.681-1.996-.902l-.004-1.944c-.008-2.036.06-2.531 1.863-2.929 2.28-.507 4.616-.775 5.225-2.323.282-.713.117-1.509-.488-2.365-1.588-2.246-2.007-4.36-1.183-5.952.645-1.244 2.018-2.017 3.583-2.017 1.562 0 2.932.766 3.573 1.999.827 1.587.409 3.709-1.175 5.973-.6.857-.762 1.652-.481 2.362.607 1.534 2.929 1.815 5.219 2.323 1.805.398 1.873.898 1.863 2.957l-.002 1.915zm-2.997 2.465c-1.588.287-3.853.925-5.5 1.638v-5.431c1.216-.783 3.666-1.472 5.5-1.707v5.5zm-6.5 1.638c-1.648-.713-3.912-1.351-5.5-1.638v-5.5c1.834.235 4.284.924 5.5 1.707v5.431zm7.851-9.952c-2.865-.632-5.663-.951-4.133-3.134 3.885-5.555.702-9.546-3.218-9.546s-7.12 4.022-3.218 9.546c1.557 2.203-1.328 2.516-4.134 3.134-2.56.566-2.656 1.783-2.648 3.91l.004 2.475s.957.758 2.996 1.431v1.352c.148.022 3.57.457 7 2.131 3.429-1.673 6.866-2.111 7-2.131v-1.352c2.039-.673 2.996-1.431 2.996-1.431l.003-2.451c.01-2.143-.077-3.366-2.648-3.934z" /></svg>
          <p>Admin</p></a>
        </div>

        <div class="project codepen">
          <a href="/scanner" title="QR Scanner to verify Identity Card">
            <!-- <svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M15.988 5.443c-.004-.02-.007-.04-.012-.058l-.01-.033c-.006-.017-.012-.034-.02-.05-.003-.012-.01-.023-.014-.034l-.023-.045-.02-.032-.03-.04-.03-.03-.04-.03-.03-.02-.04-.03-.03-.02-.01-.01L8.38.12c-.23-.154-.53-.154-.76 0L.302 4.99.292 5l-.03.023-.04.032-.025.027-.034.037-.024.03-.03.04c-.01.01-.02.02-.02.03l-.03.04-.01.04c-.01.01-.01.03-.02.05l-.01.03c-.01.02-.01.04-.01.06v.03C0 5.5 0 5.53 0 5.56v4.875c0 .03.002.06.006.09l.007.03c.003.02.006.04.013.058l.01.033c.006.018.01.035.018.05l.015.033c0 .01.01.03.02.04l.02.03c.01.01.02.03.03.04l.02.03.03.03c.01.01.01.02.02.02l.04.03.03.02.01.01 7.31 4.88c.11.08.25.11.38.11s.26-.04.38-.12L15.68 11l.01-.01.03-.022.04-.03.03-.026.035-.037.024-.03.03-.04.02-.032.02-.046.01-.036.02-.05.01-.03.02-.05v-5c0-.03 0-.06-.01-.09l-.01-.03zM8 9.626L5.568 8 8 6.374 10.432 8 8 9.626zM7.312 5.18l-2.98 1.993-2.406-1.61 5.386-3.59V5.18zM3.095 8l-1.72 1.15v-2.3L3.095 8zm1.237.828l2.98 1.993v3.21l-5.386-3.59 2.406-1.61zm4.355 1.993l2.98-1.99 2.407 1.61-5.387 3.59v-3.2zM12.905 8l1.72-1.15v2.3L12.905 8zm-1.237-.827L8.688 5.18V1.97l5.386 3.59-2.406 1.61z" fill-rule="nonzero"/></svg> -->
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15 15v1h1v-1h-.333v-.333h-.334v.333h-.333zm.667.333v.333h-.334v-.333h.334zm-7.667.667h2.667v-2.667h-2.667v2.667zm.333-2.333h2v2h-2v-2zm6.667 1v-.333h.333v.333h-.333zm-6.333-.667h1.333v1.333h-1.333v-1.333zm2.666-1v.667h-.333v-.667h.333zm.667-2.667h.333v.333h-.333v-.333zm.333-.333h.334v.333h-.334v-.333zm.334.667v-.333h.333v.333h-.333zm0-.667h.333v-2h-1v.333h-1v.333h1v.334h.667v1zm-.334-1.333v-.334h.334v.333h-.334zm-2.333 1.333h-1.333v-1.333h1.333v1.333zm2 0h-.333v-.667h-.667v-.333h1v.333h.333v.333h-.333v.334zm-1.333-2h-2.667v2.667h2.667v-2.667zm-.334 2.333h-2v-2h2v2zm1 0h-.333v-.333h.667v.667h-.334v-.334zm-1 1v.333h-.333v-.333h.333zm5 2h.667v1h-.333v-.333h-.667v.333h-.333v-.333h-.334v-.333h.334v-.333h.333v.333h.333v-.334zm-1.333.667h-.333v.333h-.334v-.333h-.333v-.333h.333v-.333h-.666v-.334h-.334v.333h-.333v.333h-.667v.334h-.333v2h1.667v-.333h-.334v-.667h-.333v.667h-.667v-.333h.334v-.334h-.334v-.333h1v-.333h.667v.666h-.333v.333h.333v.667h.333v-.667h.334v.333h.333v-.333h.333v-.667h.334v-.333h-.667v-.333zm-.333 1h-.334v-.333h.334v.333zm2-2v-.667h.333v.667h-.333zm-3 1.667v.333h-.334v-.333h.334zm1.666 1v-.333h.334v.666h-.667v-.333h.333zm-1-7.667v2.667h2.667v-2.667h-2.667zm2.334 2.333h-2v-2h2v2zm-.334-.333h-1.333v-1.333h1.333v1.333zm.334 1.333h.333v.667h-.333v.333h-.667v-1.333h.333v.667h.334v-.334zm-1.334 2v-1h.334v1h-.334zm-4.333-2.333v.333h-.667v.333h.334v.334h-1v-.333h.333v-.333h-.667v.333h-.333v-.667h2zm-.333 1.333v-.333h.333v1h-.333v-.333h-.334v.333h-.333v-.333h-.333v.333h-.667v-.333h.333v-.333h1.334zm-1.334-.333v.333h-.333v-.333h.333zm6.334-.667h-.334v-.333h.334v.333zm-4.334 1.334h.334v.333h-.334v-.333zm5 .666h-.333v-.333h.333v.333zm-1.666.334v-.333h.333v.333h-.333zm-.334-.334h.334v-1h.666v-.333h.334v-.333h-.334v-.333h-.666v-.334h-.334v.333h-.333v-.333h-.333v.333h-.334v-.333h-.333v.333h-.333v.333h-.334v-.333h.334v-.333h-1.334v.333h.667v.333h-.667v.334h.334v.666h.333v-.333h.667v.667h.333v-1.333h.333v.667h1v.333h-.666v.333h.666v.333zm.334-1.666h.333v.333h-.333v-.333zm-.667.333h-.333v-.333h.333v.333zm-1-12c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm8 12c0 4.418-3.582 8-8 8s-8-3.582-8-8 3.582-8 8-8 8 3.582 8 8zm-19 0c0-6.065 4.935-11 11-11v2c-4.962 0-9 4.038-9 9 0 2.481 1.009 4.731 2.639 6.361l-1.414 1.414.015.014c-2-1.994-3.24-4.749-3.24-7.789z"/></svg>
          <p>QR Scanner</p></a>
        </div>

        
        </div>




      </div>
      </div>
      

      <footer>
        <p>Made with <span class="love">♥</span> in Srinagar,Kashmir</p>
        <p>Proudly hosted on <a href="https://www.github.com" target="_blank">Github</a>. Source Code Repo on <a href="https://github.com/hakerbaya" target="_blank">Github</p>
      </footer>

    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42434400-3', 'auto');
      ga('send', 'pageview');
    </script>

  </body>

</html>