@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
 
 
 /* Normalize CSS */
 html,* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Mono', monospace;
  }

  body{
      margin: 0;
      padding: 0;
  }

    a{
        text-decoration: none;
    }
    article h1{
        color: slategray;
        margin: 5px;
        padding: 10px;
        font-size: 15px;
        
        text-transform: uppercase;
    }

.wrapper{
    display: flex;
    flex-flow: row wrap;
    /* text-align: center; */
    
}

.wrapper> *{
    
    flex: 1 100%;
    
}

.header{
    background-color: tomato;
    height: 120px;
}

.footer{
    display: flex;
    background: slategray;
    height:  80px;
    color:white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.footer table td a{
    text-decoration: none;
    color: black;
}

.main{
    display: flex; 
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    background-color:rgb(238, 235, 235);
    font-size: 24px;
}

.aside{
    display: flex;
    justify-content: center;
}

.accordion{
    background-color: orange;
    z-index: 6;
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
    
    padding: 10px;
}
ul li{
    list-style: none;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 40px;
}
ul li a{
    padding: 2px;
    color: white;
    text-decoration: none;
    
}
ul li a:hover{
    background: white;
    color: orange;
}

.aside1{
    background:rgb(238, 235, 235);
}

.aside2{
    background-color: hotpink;
}

/* Form Styles */


form {
    background: whitesmoke;
    border-radius: 10px;;
    padding: 30px;
    width: 60%;
    border: 1px solid slategray;
}

form {
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
    margin-bottom: 20px;
}
form div{
    width: 100%;
}

form div label{
    /* font-weight: bold; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form div input{
    border: 1px solid slategrey;
    background-color: #e1e4e8;
    padding: 10px;
    width: 100%;
    margin-bottom: 5px;
}
form div input:focus{
    background-color: #fff;
}

.submit{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.submit input{
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
    background: orange;
    border-color: rgba(255, 166, 0, 0.747);
    color: white;
}
.submit input:hover{
    background-color:  rgba(192, 126, 3, 0.911);
}
.submit input:focus{
    border:1px solid turquoise;
    border-color: turquoise;
}



/*  Styles for Image Uploading */


.pic img{
    height: 100px;
    width: 100px;
  }
.pic label input[type=file]{
   margin-left: 30px;
  padding:10px;
  background:#2d2d2d;}
  .pic label{
    font-size: 30px;
  }

  /* Students Page */


  .student-list{
      margin-top: 30px;
  }

  .filter-box{
      
      display: flex;
      
      
  }

  .main table{
      border: 1px solid slategray;
      
      border-collapse: collapse;
      width: 70vw;
      margin-top: 30px;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 
      0 100px 80px rgba(0, 0, 0, 0.12);
  }


  
  

  .main table tr th{
      background-color:#333;
      color: #fff;
      padding: 5px;
      font-size: 13px;
      /* border: 1px solid rgb(238, 235, 235); */
  }
  

  .main table tr:nth-child(even){
      background-color: #DCDCDC;
  }

  .main table tr td{
     
       
      padding: 5px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 13px;
      text-align: center;
  }
  .main table tr td:nth-child(6),.main table tr td:nth-child(7),.main table tr td:nth-child(8){
      cursor: pointer;
  }

  


  

  .filter-box select{
      width:90px;
      padding: 10px;
      text-align: center;
      text-transform: uppercase;
    }

    .filter-box #search{
        text-align: center;
        text-transform: uppercase;
    }
    .filter-box #search::placeholder{
        text-transform: uppercase;
        text-align: center;
    }


  .button-container{
      display: flex;
      justify-content: space-around;
      margin-top: 5px;
      padding: 5px;
    }
  
    .btn{
        padding: 5px;
        width: 100px;
        background:#333;
        color: white;
        text-transform: uppercase;
        border: 1px solid slategray;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 
      0 100px 80px rgba(0, 0, 0, 0.12);

    }

    .btn:hover{
        background-color: rgba(133, 123, 123, 0.726);
        cursor: pointer;
    }
    

    /* Edit Page Styles */

    .edit-toggle label div{
        position: relative;
        width: 70px;
        height: 30px;
        border-radius:40px;
        border: 1px solid #DCDCDC;
        background: linear-gradient(to right,rgba(0,50,100,0.3),#DCDCDC);
        box-shadow:  10px 10px 20px rgba(159,159,159,0.6);
        transition: all .5s;
    }
    .edit-toggle label div:after{
        content: ' ';
        position: absolute;
        left: 7px;
        bottom: 4px;
        height:20px;
        width:20px;
        background: rgba(223,236,227,0.7);
        border-radius: 50%;
        border: 1px solid rgba(223,223,223,0.1);
        transition: all .5s;
        }
    .edit-toggle label #chk{
        display: none;
    }
    .edit-toggle label #chk:checked + div:after{
        left: calc(100% - 30px);
        border-color: white;
        background: white;
        }
    .edit-toggle label #chk:checked + div{
        border: 1px solid white;
        background: linear-gradient(to left,rgba(14,169,122,0.8),rgba(14,169,150,0.8));
    }
  

@media all and (min-width: 200px){
    
    ul{
        flex-direction: row;
        justify-content: center;
    }
   
    .aside{
        flex: 1;
        
    }
    .header{
        order: 1;
    }
    .aside{
        justify-content: center;
        order: 2;
    }
    .main{
        min-height: 500px;
        order: 3;
    }
    .footer{
        z-index: -1;
        order: 4;
    }
    form{
        width: 90%;;
    }
    .accordion{
        
        width: 100%;
    }
    .filter-box{
        justify-content: space-evenly;
        
    }
    
   
}

@media all and (min-width : 800px){
    ul {
        
        flex-direction: column;
    }

    .main{
        flex: 4;
        min-height: 700px;
    }

    .aside1{
        justify-content: flex-start;
        order:1;
        flex: 1;
        
    }
    .accordion{
        height: 100%;
        z-index: 1;
        position: fixed;
        padding: 20px;
        
    }

    /* .aside2{
        order:2;
    } */

    .main{
        order:2;
    }

    .footer{
        z-index: 4;
        order:4;
    }
    form{
        width: 60%;
    }
    .accordion{
        width: 15%;
    }

    .filter-box{
        justify-content: space-evenly;
       
        
    }
    

    

}
